<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Template</a>       
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

       
        @if (MENUTYPE == ENUM_MENUTYPE.UNLOGGED) {

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-plus" aria-hidden="true"></span> Login
                </NavLink>
            </div>

        }

         @if (MENUTYPE ==ENUM_MENUTYPE.LOGGED){                         

                @switch (Perfil)
                {
                    case "Administrador":
                    {
                          

                            break;
                    }

                    case "SuperAdmin":
                    {
                          <div class="nav-item px-3">
                                <NavLink class="nav-link" href="/superadmin/home"  Match="NavLinkMatch.All">
                                    <span class="oi oi-home" aria-hidden="true"></span> Home
                                </NavLink>
                            </div>  

                         <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/superadmin/cadastros" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> Cadastros
                            </NavLink>
                        </div>

                        break;
                    }
                                                                                            

                }
                             
        }

       
    </nav>
</div>

@code {

    public enum ENUM_MENUTYPE
    {
        UNLOGGED = 0,
        LOGGED = 1

    }

    private ENUM_MENUTYPE _type; 
 
    [Parameter]
    public ENUM_MENUTYPE MENUTYPE { get; set; }
    
    [Parameter]
    public string Perfil { get; set; }
    

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
