
<Modal @ref="modalRef"  >
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@Title</ModalTitle>          
        </ModalHeader>
        <ModalBody>
             <h5>
                @Message
            </h5>

        </ModalBody>
        <ModalFooter>
            @if (_buttonOK)
            {
                 <Button Color="Color.Primary" Clicked="@ClickOk">OK</Button>
                
            }

            @if (_buttonNo)
            {
                 <Button Color="Color.Secondary" Clicked="@ClickNo">Não</Button>
                
            }

            @if (_buttonYes)
            {
                 <Button Color="Color.Success" Clicked="@ClickYes">Sim</Button>
                
            }
            
        </ModalFooter>
    </ModalContent>
</Modal>


@code {

    private Modal modalRef;
    private bool _buttonOK = true;
    private bool _buttonNo = false;
    private bool _buttonYes = false;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public bool ButtonOK
    {
        get
        {
            return _buttonOK;
        }

        set
        {
            _buttonOK = value;
        }
    }

    [Parameter]
    public bool ButtonNo
    {
        get
        {
            return _buttonNo;
        }

        set
        {
            _buttonNo = value;
        }
    }

    [Parameter]
    public bool ButtonYes
    {
        get
        {
            return _buttonYes;
        }

        set
        {
            _buttonYes = value;
        }
    }    

    [Parameter]
    public EventCallback OnClickOk { get; set; }

    [Parameter]
    public EventCallback OnClickYes { get; set; }

    [Parameter]
    public EventCallback OnClickNo { get; set; }


    public async Task ClickOk(Object e)
    {
       await OnClickOk.InvokeAsync(e);
       await modalRef.Hide();
    }

    public async Task ClickNo(Object e)
    {
       await OnClickNo.InvokeAsync(e);
       await modalRef.Hide();
    }

    public async Task ClickYes(Object e)
    {
       await OnClickYes.InvokeAsync(e);
       await modalRef.Hide();
    }


    public async Task ShowDialog(string title, string message)
    {
        this.Title = title;
        this.Message = message;
        await modalRef.Show();
        StateHasChanged();

    }


}
