
@if (_visible)
{
    if (_disabled == "")
    {
        
        <div class="wc-box rounded text-center wc-box-@_class p-2"
             @onclick="OnClick" title=@Description>
            <div class="wc-box-icon">
                <i class="mdi mdi-@Icon"></i>
            </div>
        </div>

    }
    else
    { 

        <div class="wc-box rounded text-center wc-box-@_class p-2" disabled title=@Description>
            <div class="wc-box-icon">
                <i class="mdi mdi-@Icon"></i>
            </div>
        </div>

    }


}


@code {

    private bool executing = false;


    [Parameter]
    public string Icon { get; set; }

    private string _class = "primary";

    [Parameter]
    public string Class
    {
        get
        {

            return _class;
        }

        set
        {
            _class = value;
        }
    }


    [Parameter]
    public string Description { get; set; }

    private bool _visible = true;

    [Parameter]
    public bool Visible
    {
        get
        {

            return _visible;
        }

        set
        {
            _visible = value;
        }
    }


    private string _disabled = "";

    [Parameter]
    public string Disabled
    {
        get
        {

            return _disabled;
        }

        set
        {
            _disabled = value;
        }
    }


    [Parameter]
    public EventCallback OnClick { get; set; }


    public void Begin()
    {        
        executing = true;       
        _disabled = "disabled";
        StateHasChanged();
    }


    public void End()
    {
        executing = false;       
        _disabled = "";
          StateHasChanged();
    }

}
