
@if (_visible)
{
    if (_disabled == "")
    {
        @if (!_readonly)
        {
            <button @onclick="OnClick"  class="btn btn-@_class" title=@Description>
                @Title
            </button>
        }
        else
        {
            <button disabled class="btn btn-@_class" title=@Description>
                @Title
            </button>
        }
    }
    else
    {
        <button  disabled  class="btn btn-@_class" title=@Description>
           @if (executing)
            {
                @ActionLabel
            }
            else
            {
                @Title
            }

        </button>

    }

}


@code {

    private bool executing = false; 

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ActionLabel { get; set; }

    [Parameter]
    public string Description { get; set; }


    private string _class = "primary";

    [Parameter]
    public string Class
    {
        get
        {

            return _class;
        }

        set
        {
            _class = value;
        }
    }

    private bool _visible = true;

    [Parameter]
    public bool Visible
    {
        get
        {

            return _visible;
        }

        set
        {
            _visible = value;
        }
    }

    private bool _readonly = false;

    [Parameter]
    public bool ReadOnly
    {
        get
        {

            return _visible;
        }

        set
        {
            _readonly = value;
        }
    }

    private string _disabled = "";

    [Parameter]
    public string Disabled
    {
        get
        {

            return _disabled;
        }

        set
        {
            _disabled = value;
        }
    }


    [Parameter]
    public EventCallback OnClick { get; set; }


    public void Begin()
    {        
        executing = true;       
        _disabled = "disabled";
    }


    public void End()
    {
        executing = false;       
        _disabled = "";
    }
  

}
