@page "/superadmin/home"
@inherits SuperAdminLayout
@layout SuperAdminLayout

<PageTitle>Painel do Super Admin</PageTitle>

<h1>Página do Super Adminstrador</h1>

Welcome to your new app.


@code {


}
