@page "/superadmin/home"
@inherits SuperAdminLayout
@layout SuperAdminLayout

<PageTitle>Painel do Super Admin</PageTitle>

<h1>Página do Super Adminstrador</h1>

<a href="superadmin/users" > Usuários </a>
<br/>

<a href="superadmin/datalog" > Log de Dados </a>
<br/>

<a href="superadmin/sessionlog" > Log de Acessos </a>
<br/>

@code {


}
